# 최상위 설정 파일임을 명시
root = true

# 모든 파일에 적용되는 기본 설정
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# C++ 전용 스타일
[*.cpp]
# 괄호 안 공백 제거
space_within_parentheses = false
space_before_open_square_brackets = false
space_after_keywords_in_control_flow_statements = false
space_after_cast = false

# 들여쓰기
indent_style = space
indent_size = 4

# C#도 같이 쓰는 경우
[*.cs]
csharp_space_within_parentheses = false
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_before_open_square_brackets = false
